[submodule "pci"]
	path = pci
	url = git@github.com:luis-tor/pci.git
[submodule "cocheros"]
	path = cocheros
	url = git@github.com:linkaform/cocheros.git
[submodule "PlazaRepositorio"]
	path = PlazaRepositorio
	url = git@github.com:Coordinadorplaza/PlazaRepositorio.git
